<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>bookstorePack.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>bookstorePack.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>bookstorePack.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderBookServlet</servlet-name>
        <servlet-class>bookstorePack.OrderBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>bookstorePack.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookRunServlet</servlet-name>
        <servlet-class>bookstorePack.UpdateBookRunServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderBookServlet</servlet-name>
        <url-pattern>/OrderBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookRunServlet</servlet-name>
        <url-pattern>/UpdateBookRun</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
